#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  .buttons-div{
    z-index: 1;
    position: fixed;
    left: 50%;
    top:80%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction:row;
    
  }
  .buttons{
    padding:0px;
    margin-right:20px;
    font-size:200%;
    z-index: 1;
    font-size:20px;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#ffcb05;
    letter-spacing: 4px;
    transition: all .5s ease;
    border-style: solid;
    border-color:black;
    border-radius:10px;
    box-sizing: border-box;
    -webkit-text-stroke: 1px rgb(20, 20, 20);
    width:200px;
    height:100px;
    overflow:auto;
    text-align: center;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    
  }
  .pokemans{
    position:fixed;
    left:50%;
    top:30%;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  h2{
    position:fixed;
    z-index:1;
    font-family:impact;
    color:white;
    -webkit-text-stroke: 1px rgb(20, 20, 20);

  }
  .main-container{
    position:relative;
    z-index: 3;
  }
  .play-button{
    font-size: 16px;
    z-index:3;
    border-style: solid;
    border-color:black;
    border-radius:10px;
    box-sizing: border-box;
    width:150px;
    height:70px;
    font-size:30px;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgba(255, 180, 40, 0.966);
    letter-spacing: 4px;
    transition: all .5s ease;

  }
  .play-button-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  z-index:3;
  }
  #overlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
  }
  .play-button:hover{
    color: #090909;
    background-color: #fff;
  }
  .whodat-container{
    display: flex;
    justify-content: center;
    z-index:3;
  }
  .Whodat{
    z-index:3;
    width:550px;
    height:auto;
  }

  @media(max-width:1080px){
    .Whodat{
      width:350px;
        
    }
    .pokemans{
      height:auto;
      width:400px;
    }
    .buttons{
      width:160px;
      height:75px;
      font-size:100%;
    }

  }
  @media screen and (max-width:720px){
    .Whodat{
      width:175px;
        
    }
    .pokemans{
      height:auto;
      width:150px;
    }
    .buttons{
      width:95px;
      height:40px;
      font-size:60%;
      gap:20px;
      -webkit-text-stroke: .5px rgb(20, 20, 20);
      letter-spacing:2px;
    }
    .buttons-div{
      top:72%;
    }
    h2{
      font-size:20px;
      -webkit-text-stroke: .5px rgb(20, 20, 20);
    }
    
  }